* {
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
    background-color: rgb(208, 208, 248);
}

.h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
p{
    font-family: 'Courier New', Courier, monospace;
}