* {
    margin: 0;
    padding: 0;
}


.web-title{
    align-items: center;
    background-color: rgb(208, 208, 248);
    height: 100vh;
}

.h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.About-Me{
    background-color: rgb(62, 62, 110);
    color: white;
}