* {
    margin: 0;
    padding: 0;
}


.web-title{
    align-items: center;
    background-color: rgb(208, 208, 248);
}

.h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    align-self: center;
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.About-Me{
    background-color: rgb(62, 62, 110);
    color: white;
}
.Cloud-computing{
    background-color: rgb(95, 95, 160);
    color: white;
}

.Advantages{
    background-color: rgb(68, 96, 150);
    color: white;
    margin: 20px;    
}
.Cloud-Services-Ex{
    background-color: white;
    border-radius: 40px;
    color: rgb(134, 139, 161);
}

